<header class="header-6">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <cds-icon shape="vm-bug"></cds-icon>
      <span class="title">ShortUrlService</span>
    </a>
  </div>
  <!-- <div class="header-actions header-actions--overflow">
    <clr-dropdown>
      <button class="nav-text" clrDropdownTrigger>
        <cds-icon shape="user" size="md" aria-label="This is an example of an icon of a user with the default color of the surrounding text"></cds-icon>
        johndoe@vmware.com
        <cds-icon shape="angle" direction="down" size="xxl"></cds-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div> -->
</header>
<div class="main-container">
  <app-sus-generate></app-sus-generate>
</div>