<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            ShortUrlService
            <h5 class="hint">Use your Company Username to signin</h5>
        </label>
        <div class="login-group">
            <input  type="text" name="username" placeholder="Username" [(ngModel)]="username">
            <div class="error active" *ngIf="!validUser">
                Invalid username
            </div>
            <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
