<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
      <div class="card">
        <div class="card-header" style="font-weight: 900;">
          {{userUrls['user_id'].toUpperCase()}}
        </div>
        <div class="card-block">
          <div class="card-title">            
                
            
          </div>
          <div class="card-text">
            <form class="clr-form clr-form-horizontal">
                <div class="clr-form-control">
                    <label for="example4" class="clr-control-label">creation_date</label>
                    <div class="clr-control-container">
                      <div class="clr-input-wrapper">
                        <input type="text" id="example4" placeholder="Placeholder" class="clr-input" value='{{userUrls["creation_date"]}}'/>
                      </div>
                      <span class="clr-subtext" *ngIf='!userUrls["creation_date"]'>Null</span>
                    </div>
                  </div>
                  <div class="clr-form-control">
                    <label for="example4" class="clr-control-label">expiration_date</label>
                    <div class="clr-control-container">
                      <div class="clr-input-wrapper">
                        <span type="text" id="example4" placeholder="None" class="clr-input">{{userUrls["expiration_date"]}}</span>
                      </div>
                      <span class="clr-subtext" *ngIf='!userUrls["expiration_date"]'>Null</span>
                    </div>
                  </div>
                
                  
                  <div class="clr-form-control">
                    <label for="example4" class="clr-control-label">Short Url</label>
                    <div class="clr-control-container">
                      <div class="clr-input-wrapper">
                        <span type="text" id="example4" placeholder="Placeholder" class="clr-input">{{userUrls["short_url"]}}</span> 
                      </div>
                      <span class="clr-subtext">Helper Text</span>
                    </div>
                  </div>
                  
                <div class="clr-form-control">
                  <label for="example1" class="clr-control-label">Original Url</label>
                  <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                      <textarea id="example1" placeholder="Placeholder" class="clr-textarea" value="{{userUrls['original_url']}}"></textarea>
                    </div>
                  </div>
                </div>
                <br>
                <br>
              </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Footer Action 1</button>
          <button class="btn btn-sm btn-link">Footer Action 2</button>
        </div>
      </div>
    </div>
  </div>